{% comment %}
    address: {
        name: string;
        street: string;
        city: string;
        email: string;
    };
{% endcomment %}

<p>
    {{ address.name -}}
    <br>
    {{ address.street -}}
    <br>
    {{ address.city -}}
    <br>
    E-Mail: {% include 'email', email: address.email %}
</p>
