{% doc %}
    @param {object} address - { name: string; careOf?: string; street: string; city: string; email: string; }
{% enddoc %}

<p>
    {{ address.name -}}
    <br>
    {%- if address.careOf -%}
        {{ address.careOf }}
        <br>
    {%- endif -%}
    {{ address.street -}}
    <br>
    {{ address.city -}}
    <br>
    E-Mail: {% include 'email', email: address.email %}
</p>
