{% comment %}
    address: {
        name: string;
        street: string;
        city: string;
        email: string;
    };
{% endcomment %}

<p>
    {{ address.name -}}
    <br>
    {{ address.street -}}
    <br>
    {{ address.city -}}
    <br>
    E-Mail:
    <a href="#" class="email" data-email="{{ address.email | encode }}">
        Bitte aktivieren Sie JavaScript zum Anzeigen der E-Mail-Adresse
    </a>
</p>
