{% comment %}
    email: string;
    this: {
        lang: string;
    };
{% endcomment %}

<a href="#" class="email" data-email="{{ email | encode }}">
    {%- if lang == 'Deutsch' -%}
        Bitte aktivieren Sie JavaScript zum Anzeigen der E-Mail-Adresse
    {%- else -%}
        Please activate JavaScript to display the email address
    {%- endif -%}
</a>
