{% comment %}
    this: {
        lang: string;
        title: string;
    };
{% endcomment %}

<footer class="footer">
    <nav class="endnav">
        <ul class="menu">
            {%- assign colPage = page from collections.all -%}
            {%- assign localized = collections.endnav
                | where: 'data.lang', colPage.data.lang
                | sortBy: 'id'
            -%}
            {%- for item in localized -%}
                <li class="menu-item">
                    <a
                        class="menu-item-link"
                        href="{{ item.url | url }}"
                        rel="noreferrer"
                        {%- if page.url == item.url -%}
                            aria-current="page"
                        {%- endif -%}
                    >
                        {{- item.data.title -}}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </nav>
    <div class="copyright">
        Gnome Adwaita Background: Copyright © 2011-2022 Jakub Steiner
        &lt;jimmac@gmail.com&gt; - Licensed under Creative Commons
        Attribution-ShareAlike 3.0 License.
    </div>
</footer>
