<footer class="footer">
    <nav class="endnav">
        <ul class="menu">
            {%- for item in collections.endnav -%}
                <li class="menu-item">
                    <a
                        class="menu-item-link"
                        href="{{ item.url | url }}"
                        {%- if page.url == item.url -%}
                            aria-current="page"
                        {%- endif -%}
                    >
                        {{- item.data.title -}}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </nav>
</footer>
