<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% titleOf page collections.all %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/assets/index.css' | url }}" />
    <link rel="canonical" href="{{ page.url | url }}" />
</head>
