<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {%- assign colPage = page from collections.all -%}
    <title>{{ colPage.data.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if page inCol collections.noindex -%}
    <meta name="robots" content="noindex,noarchive" />
    {%- endif -%}
    <link rel="stylesheet" href="{{ '/assets/index.css' | url }}" />
    {% unless page inCol collections.noindex -%}
    <link rel="canonical" href="{{ page.url | url }}" />
    {%- endunless -%}
</head>
