{% comment %}
    name: string;
    href: string;
    description: string;
{% endcomment %}

<div class="project">
    <a href="{{ href }}" class="project-name">{{ name }}</a>
    <p class="project-desc">{{ description }}</p>
</div>
