@import "light.css" not (prefers-color-scheme: dark);
@import "dark.css" (prefers-color-scheme: dark);

@import "font.css";
@import "frame.css";
@import "badge.css";

body {
    font-size: 1rem;
    margin: 0;
    font-family: var(--main-font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    line-height: 1.2rem;
    padding: 1rem;
}

main {
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--prime-bg-color);
    box-shadow: 0 0 15px black;
    background: var(--background-image);
    background-size: 100vw;
    background-repeat: repeat-y;
}

a:visited {
    color: var(--contrast-text-color);
}
