:root {
    --body-bg-color: #181818;

    --header-bg-color: #444;
    --header-text-color: #fff;
    --header-icon-filter-invert: 100%;

    --main-background-image: url("/assets/adwaita-d.webp");
    --main-background-filter: none;
    --main-text-color: #fff;
    --main-placeholder-bg-color: #3c2360;
    --main-backdrop-bg-color: rgba(0, 0, 0, 0.6);

    --footer-text-color: #fff;

    --prime-text-color: #fff;
    --contrast-text-color: #70a424;
    --link-text-color: #4e95ff;
    --passive-text-color: #aeaeae;
}
