:root {
    --main-bg-color: #181818;
    --main-text-color: #fff;
    --prime-bg-color: #3c2360;
    --prime-text-color: #fff;
    --medius-bg-color: #444;
    --medius-text-color: #fff;
    --contrast-text-color: #70a424;
    --passive-text-color: #aeaeae;
    --icon-filter-invert: 100%;
    --window-bg-color: #999;
    --window-frame-bg-color: #777;
}
