:root {
    --main-font-family: "Segoe UI", sans-serif;
    --menu-font-family: Helvetica, sans-serif;
    --icon-font-family: "Courier New", Courier, monospace;
    --bold-font-family: Verdana, sans-serif;
}
