body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.header {
    position: sticky;
    top: 0.5rem;
}

.header,
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-family: Verdana, sans-serif;
}

.header,
.footer {
    background-color: var(--prime-bg-color);
    color: var(--prime-text-color);
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.banner,
.banner:active,
.menu-item-link,
.language-item-link {
    color: var(--prime-text-color);
}

.banner-icon {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0 0.5rem;
}

.banner-text {
    font-size: 1.5rem;
    font-family: "Courier New", Courier, monospace;
}

.heading {
    margin: 0 3rem;
    font-weight: normal;
}

.topnav,
.endnav {
    margin-left: auto;
}

.topnav {
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.menu,
.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0.3rem 0;
}

.languages {
    border-left: 0.1rem solid;
}

.languages {
    border-left-color: var(--prime-text-color);
}

.menu-item,
.language-item {
    margin: 0 1rem;
}

.menu-item-link:visited,
.language-item-link:visited {
    color: var(--contrast-text-color);
}
