.header {
    margin: 2rem 7rem 3rem;
    border: 0.75rem solid var(--medius-bg-color);
    border-radius: 2rem;
    background-color: var(--medius-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;
}

.footer {
    margin-top: 2rem;
    color: var(--prime-text-color);
    margin-bottom: 1rem;
}

.topnav {
    display: inline-block;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.banner,
.banner:active,
.menu-item-link,
.language-item-link {
    color: var(--prime-text-color);
}

.banner-icon {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0 0.5rem;
    filter: invert(var(--icon-filter-invert));
}

.banner-text {
    border-bottom: 0.1rem solid;
}

.banner-text,
.heading {
    font-size: 1.25rem;
    font-family: var(--menu-font-family);
}

.heading-divider {
    font-size: 1.75rem;
    font-family: var(--icon-font-family);
}

.heading-container {
    display: flex;
    align-items: center;
    margin-left: 0.3rem;
}

.heading-divider {
    margin: 0 0.5rem;
}

.heading {
    font-weight: normal;
    margin: 0;
}

.topnav,
.endnav {
    font-family: var(--menu-font-family);
}

.topnav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0;
    background-color: var(--medius-bg-color);
    color: var(--medius-text-color);
}

.topnav {
    justify-content: end;
    flex-wrap: nowrap;
}

.menu {
    justify-content: center;
}

.menu,
.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0.5rem;
    list-style: none;
    padding-left: 0;
    margin: 0.3rem 0;
}

.languages {
    border-left: 0.1rem solid;
    border-left-color: var(--prime-text-color);
}

.menu-item,
.language-item {
    margin: 0 1rem;
}

.language-icon {
    height: 0.75rem;
    margin-right: 0.4rem;
}

.copyright {
    margin-top: 1rem;
    font-family: var(--bold-font-family);
    font-size: 0.7rem;
    text-align: center;
}
