:root {
    --main-bg-color: #e7e7e7;
    --main-text-color: #000;
    --prime-bg-color: #252575;
    --prime-text-color: #fff;
    --medius-bg-color: #bfbfbf;
    --medius-text-color: #000;
    --contrast-text-color: #11a20f;
    --passive-text-color: #666666;
    --icon-filter-invert: 0%;
}
