.portfolio-desc {
    margin-bottom: 2rem;
}

.portfolio-table th,
.portfolio-table td {
    padding: 0.5rem;
}

.project-desc {
    margin-bottom: 0;
}

.project-name {
    display: inline-block;
    margin: 0;
}

.project-subtitle {
    display: inline-block;
    font-style: italic;
    color: var(--passive-text-color);
}

.project-links {
    margin-top: 0.5rem;
}

.project-link {
    margin-top: 0.5rem;
    margin-right: 0.75rem;
    display: inline-block;
}

.project-link-icon {
    width: 1.25rem;
    height: 1.25rem;
    filter: var(--project-link-icon-filter);
}

.skill-badges {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem 0.5rem;
}

.portfolio-table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}
.portfolio-thead {
    margin: 0;
}

.portfolio-table th,
.portfolio-table td {
    padding: 1rem;
    border: 0.1rem solid var(--main-text-color);
    background-color: var(--main-backdrop-bg-color);
    color: var(--main-text-color);
}

.portfolio-table tr:first-child th:first-child {
    border-top-left-radius: 1rem;
}

.portfolio-table tr:first-child th:last-child {
    border-top-right-radius: 1rem;
}

.portfolio-table tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}

.portfolio-table tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}
