.portfolio-desc {
    margin-bottom: 2rem;
}

.portfolio-table {
    border-collapse: collapse;
}

.portfolio-thead {
    background-color: var(--medius-bg-color);
    color: var(--main-text-color);
}

.portfolio-table th,
.portfolio-table td {
    border: 0.1rem solid var(--main-text-color);
    padding: 0.5rem;
}

.project {
    padding: 1rem;
}

.project-desc {
    margin-bottom: 0;
}

.project-name {
    font-weight: bold;
}

.project-subtitle {
    font-style: italic;
    color: var(--passive-text-color);
}

.skill-badges {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem 0.5rem;
}
