---
id: contact
title: Contact
tags: topnav
lang: English
---
<!DOCTYPE html>
<html>
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <p></p>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/larsbodewig/"
                        >LinkedIn/LarsBodewig</a
                    >
                </li>
                <li>
                    <a href="https://github.com/LarsBodewig"
                        >GitHub/LarsBodewig</a
                    >
                </li>
                <li>
                    For any other subject:
                    {% include 'email', email: 'Lars@Bodewig.dev' %}
                </li>
            </ul>
        </main>

        {% include 'footer' %}
    </body>
</html>
