---
id: contact
title: Contact
description: If you wish to contact me, you can use any of the these channels.
tags: topnav
lang: en-GB
---
<!DOCTYPE html>
<html>
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <p>
                If you wish to contact me, you can use any of the following
                channels:
            </p>
            <ul>
                <li class="contact-channel">
                    For business inquiries:
                    <a
                        href="https://www.linkedin.com/in/larsbodewig/"
                        rel="noreferrer external"
                        >LinkedIn/LarsBodewig</a
                    >
                </li>
                <li class="contact-channel">
                    Everything code related:
                    <a
                        href="https://github.com/LarsBodewig"
                        rel="noreferrer external"
                        >GitHub/LarsBodewig</a
                    >
                </li>
                <li class="contact-channel">
                    For any other subject:
                    {% include 'email', email: 'Lars@Bodewig.dev' %}
                </li>
            </ul>
        </main>

        {% include 'footer' %}
    </body>
</html>
