---
id: imprint
title: Imprint
tags:
    - endnav
    - noindex
lang: en
---

<!DOCTYPE html>
<html>
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main></main>

        {% include 'footer' %}
    </body>
</html>
