---
id: portfolio
title: Portfolio
description: This page lists some note-worthy projects I worked on, including professional and personal projects.
tags: topnav
lang: en-GB
---
<!DOCTYPE html>
<html lang="{{ lang }}">
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <div class="background-filter">
                <div class="portfolio-desc">
                    <p>
                        This page lists some note-worthy projects I worked on,
                        including professional and personal projects. All my
                        personal projects are publicly available on
                        <a
                            class="link"
                            href="https://github.com/LarsBodewig"
                            rel="noreferrer external"
                            >Github</a
                        >.
                    </p>
                    <p>
                        Each listing features a selection of important
                        languages, frameworks and tools as skills. Since
                        projects can vary in complexity, technologies may depend
                        on other technologies and tools can change over time,
                        these selections are neither final nor complete. However
                        they put an emphasis on the knowledge and experience
                        gained from the respective project.
                    </p>
                </div>
                <table class="portfolio-table">
                    <thead>
                        <tr>
                            <th><h2 class="portfolio-thead">Project</h2></th>
                            <th><h2 class="portfolio-thead">Skills</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% capture desc -%}
                                    2.5+ years full stack development of a
                                    public government website including data
                                    aggregation, transformation and
                                    visualization from multiple data sources and
                                    a comprehensive search function.
                                {%- endcapture %}
                                {% include 'project',
                                    name: 'Professional project',
                                    description: desc
                                %}
                            </td>
                            <td>
                                <div class="skill-badges">
                                    {% include 'badge', label: 'Java' %}
                                    {% include 'badge', label: 'TypeScript' %}
                                    {% include 'badge', label: 'JavaScript' %}
                                    {% include 'badge', label: 'SQL' %}
                                    {% include 'badge', label: 'Redux' %}
                                    {% include 'badge', label: 'HTML' %}
                                    {% include 'badge', label: 'CSS' %}
                                    {% include 'badge', label: 'Maven' %}
                                    {% include 'badge', label: 'yarn' %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% capture desc -%}
                                    A static multi-page, multi-language website
                                    generated with 11ty, using liquid as
                                    templating language.
                                {%- endcapture %}
                                {% include 'project',
                                    name: 'Bodewig.dev',
                                    subtitle: '(Yes, the website you are currently reading!)',
                                    github: 'https://github.com/LarsBodewig/Bodewig.dev',
                                    description: desc
                                %}
                            </td>
                            <td>
                                <div class="skill-badges">
                                    {% include 'badge', label: 'JavaScript' %}
                                    {% include 'badge', label: '11ty' %}
                                    {% include 'badge', label: 'liquid' %}
                                    {% include 'badge', label: 'HTML' %}
                                    {% include 'badge', label: 'CSS' %}
                                    {% include 'badge', label: 'npm' %}
                                    {% include 'badge', label: 'CI' %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% capture desc -%}
                                    A Java servlet filter to query JSON servlets
                                    using JsonPath, the equivalent of XPath for
                                    XML.
                                {%- endcapture %}
                                {% include 'project',
                                    name: 'JPath-Filter',
                                    github: 'https://github.com/LarsBodewig/JPath-Filter',
                                    description: desc
                                %}
                            </td>
                            <td>
                                <div class="skill-badges">
                                    {% include 'badge', label: 'Java' %}
                                    {% include 'badge', label: 'Maven' %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% capture desc -%}
                                    Website with bash look and feel to quickly
                                    simulate and assess simple *nix commands.
                                {%- endcapture %}
                                {% include 'project',
                                    name: 'Web-Shell',
                                    subtitle: '- A simulated bash running inside a browser',
                                    github: 'https://github.com/LarsBodewig/Web-Shell',
                                    description: desc
                                %}
                            </td>
                            <td>
                                <div class="skill-badges">
                                    {% include 'badge', label: 'TypeScript' %}
                                    {% include 'badge', label: 'React' %}
                                    {% include 'badge', label: 'Redux' %}
                                    {% include 'badge', label: 'TSX' %}
                                    {% include 'badge', label: 'HTML' %}
                                    {% include 'badge', label: 'CSS' %}
                                    {% include 'badge', label: 'npm' %}
                                    {% include 'badge', label: '*nix' %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% capture desc -%}
                                    Visualization of Killed by Google, the
                                    Google graveyard; a free and open source
                                    list of discontinued Google services,
                                    products, devices, and apps.
                                {%- endcapture %}
                                {% include 'project',
                                    name: 'Visual-killedbygoogle',
                                    github: 'https://github.com/LarsBodewig/Visual-killedbygoogle',
                                    description: desc
                                %}
                            </td>
                            <td>
                                <div class="skill-badges">
                                    {% include 'badge', label: 'TypeScript' %}
                                    {% include 'badge', label: 'React' %}
                                    {% include 'badge', label: 'Redux' %}
                                    {% include 'badge', label: 'TSX' %}
                                    {% include 'badge', label: 'HTML' %}
                                    {% include 'badge', label: 'CSS' %}
                                    {% include 'badge', label: 'npm' %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% capture desc -%}
                                    Truth trees are a logical method to solve
                                    logical expressions by finding
                                    contradictions between terms. This is a CLI
                                    and GUI application parsing a logical
                                    expression as input, breaking in into terms,
                                    mapping out a truth tree and visualizing it.
                                {%- endcapture %}
                                {% include 'project',
                                    name: 'Bachelor thesis about implementing and visualizing truth trees',
                                    github: 'https://github.com/LarsBodewig/HS-Bachelor',
                                    description: desc
                                %}
                            </td>
                            <td>
                                <div class="skill-badges">
                                    {% include 'badge', label: 'Java' %}
                                    {% include 'badge', label: 'ANTLR' %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        {% include 'footer' %}
    </body>
</html>
