---
id: portfolio
title: Portfolio
tags: topnav
lang: English
---
<!DOCTYPE html>
<html>
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <p>This page lists some note-worthy projects I worked on.</p>
            <table class="portfolio-table">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Skills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% capture desc -%}
                                Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna aliquyam
                                erat, sed diam voluptua. At vero eos et accusam
                                et justo duo dolores et ea rebum. Stet clita
                                kasd gubergren, no sea takimata sanctus est
                                Lorem ipsum dolor sit amet.
                            {%- endcapture %}
                            {% include 'project', name: 'WebShell' href: '/' description: desc %}
                        </td>
                        <td>
                            <div class="skill-badges">
                                {% include 'badge', label: 'Typescript' %}
                                {% include 'badge', label: 'React' %}
                                {% include 'badge', label: 'Redux' %}
                                {% include 'badge', label: 'TSX' %}
                                {% include 'badge', label: '*nix' %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

        {% include 'footer' %}
    </body>
</html>
