---
id: portfolio
title: Portfolio
description: This page lists some note-worthy projects I worked on, including professional and personal projects.
tags: topnav
lang: en-GB
---
<!DOCTYPE html>
<html lang="{{ lang }}">
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <div class="background-filter">
                <div class="portfolio-desc">
                    <p>
                        This page lists some note-worthy projects I worked on,
                        including professional and personal projects. All my
                        personal projects are publicly available on
                        <a
                            class="link"
                            href="https://github.com/LarsBodewig"
                            rel="noreferrer external"
                            >Github</a
                        >.
                    </p>
                    <p>
                        Each listing features a selection of important
                        languages, frameworks and tools as skills. Since
                        projects can vary in complexity, technologies may depend
                        on other technologies and tools can change over time,
                        these selections are neither final nor complete. However
                        they put an emphasis on the knowledge and experience
                        gained from the respective project.
                    </p>
                </div>
                <div class="portfolio-projects">
                    {%- assign skills = 'Java', 'Maven' -%}
                    {%-
                        include 'project',
                        name: 'Sql-ResultSet-Interfaces',
                        description: 'A small Maven dependency mostly aimed at frameworks to enhance APIs with specialized java.sql.ResultSet interfaces. It offers to select a subset of the ResultSet interface's methods for simple operations or make use of custom interfaces that map to ResultSet.',
                        github: 'https://github.com/LarsBodewig/Sql-ResultSet-Interfaces',
                        maven: 'https://central.sonatype.com/artifact/dev.bodewig.sql-resultset-interfaces/sql-resultset-interfaces',
                        skills: skills
                    -%}
                    {%-
                        assign skills = 'Java', 'TypeScript',
                        'JavaScript', 'SQL/Oracle', 'Redux', 'HTML',
                        'CSS', 'Maven', 'Flyway', 'NetWeaver', 'yarn'
                    -%}
                    {%- include 'project',
                        name: 'Professional project',
                        description: '3 years full stack development of a public government website including data aggregation, transformation and visualization from multiple data sources and a comprehensive search function.',
                        skills: skills
                    -%}
                    {%- assign skills = 'JavaScript', '11ty', 'HTML', 'CSS', 'npm', 'CI' -%}
                    {%- include 'project',
                        name: 'Bodewig.dev',
                        subtitle: '(Yes, the website you are currently reading!)',
                        description: 'A static multi-page, multi-language website generated with 11ty, using liquid as templating language.',
                        github: 'https://github.com/LarsBodewig/Bodewig.dev',
                        skills: skills
                    -%}
                    {%- assign skills = 'Java', 'Maven' -%}
                    {%- include 'project',
                        name: 'JPath-Filter',
                        description: 'A Java servlet filter to query JSON servlets using JsonPath, the equivalent of XPath for XML.',
                        github: 'https://github.com/LarsBodewig/JPath-Filter',
                        skills: skills
                    -%}
                    {%- assign skills = 'TypeScript', 'React', 'Redux', 'TSX', 'HTML', 'CSS', 'npm', '*nix' -%}
                    {%- include 'project',
                        name: 'Web-Shell',
                        subtitle: '- A simulated bash running inside a browser',
                        description: 'Website with bash look and feel to quickly simulate and assess simple *nix commands.',
                        github: 'https://github.com/LarsBodewig/Web-Shell',
                        skills: skills
                    -%}
                    {%- assign skills = 'TypeScript', 'React', 'Redux', 'TSX', 'HTML', 'CSS', 'npm' -%}
                    {%- include 'project',
                        name: 'Visual-killedbygoogle',
                        description: 'Visualization of Killed by Google, the Google graveyard; a free and open source list of discontinued Google services, products, devices, and apps.',
                        github: 'https://github.com/LarsBodewig/Visual-killedbygoogle',
                        skills: skills
                    -%}
                    {%- assign skills = 'Java', 'ANTLR' -%}
                    {%- include 'project',
                        name: 'Bachelor thesis about implementing and visualizing truth trees',
                        description: 'Truth trees are a logical method to solve logical expressions by finding contradictions between terms. This is a CLI and GUI application parsing a logical expression as input, breaking in into terms, mapping out a truth tree and visualizing it.',
                        github: 'https://github.com/LarsBodewig/HS-Bachelor',
                        skills: skills
                    -%}
                </div>
            </div>
        </main>

        {% include 'footer' %}
    </body>
</html>
