<!DOCTYPE html>
<html>
    <%- include('/head', { title: 'Datenschutz' }) %>

    <body>
        <header>
            <h1>Junique.dev</h1>
        </header>

        <main></main>

        <footer></footer>
    </body>
</html>
