---
id: imprint
title: Impressum
tags:
    - endnav
    - noindex
lang: Deutsch
---
<!DOCTYPE html>
<html>
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main></main>

        {% include 'footer' %}
    </body>
</html>
