---
id: index
title: Lars Bodewig
description: Wilkommen auf meiner persönlichen Webseite. Mein Name ist Lars Bodewig. Ich bin als Anwendungsentwickler tätig.
lang: de-DE
---
<!DOCTYPE html>
<html lang="{{ lang }}">
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <div class="background-filter">
                <h2>Moin!</h2>
                <p>
                    Wilkommen auf meiner persönlichen Webseite. Mein Name ist
                    Lars Bodewig. Ich bin als Anwendungsentwickler in der
                    Rhein-Main-Region tätig.
                </p>
                <p>
                    Ich habe 2014 mit dem Programmieren angefangen. Seit 2017
                    entwickle ich auch im Unternehmensumfeld. Mein kompletter
                    Lebenslauf ist verfügbar auf
                    <a
                        class="link"
                        href="https://www.linkedin.com/in/larsbodewig/"
                        rel="noreferrer external"
                        >LinkedIn</a
                    >.
                </p>
                <p>
                    Innerhalb dieser Zeit konnte ich viele Erfahrungen in
                    verschiedenen Teams, Technologien, Programmiersprachen und
                    Produkten sammeln. Meine größten Stärken liegen in
                    {% include 'badge', label: 'Java' %},
                    {% include 'badge', label: 'TypeScript' %} und
                    {% include 'badge', label: 'SQL' %}.<br>

                    {%- assign portfolio = collections.all
                        | where: 'data.id', 'portfolio'
                        | where: 'data.lang', colPage.data.lang
                    -%}
                    {%- assign portfolioUrl = portfolio[0].url | url -%}
                    Ich bin meist als Backend- oder Full-Stack-Entwickler tätig,
                    interessiere mich aber auch für Pipeline Engineering, die
                    Entwicklung von Software-Bibliotheken und das Entwerfen und
                    Parsen von Sprachen. Mein
                    <a
                        class="link"
                        href="{{ portfolioUrl }}"
                        rel="noreferrer"
                        >Portfolio</a
                    >
                    gibt einen Überblick über ein paar erwähnenswerte Projekte,
                    die diese Skills verwenden.
                </p>
                <p>
                    {%- assign contact = collections.all
                        | where: 'data.id', 'contact'
                        | where: 'data.lang', colPage.data.lang
                    -%}
                    {%- assign contactUrl = contact[0].url | url -%}
                    Für Fragen und Angebote bin ich jederzeit über verschiedene
                    Kanäle erreichbar:
                    <a
                        class="link"
                        href="{{ contactUrl }}"
                        rel="noreferrer"
                        >Kontakt</a
                    >.
                </p>
            </div>
        </main>

        {% include 'footer' %}
    </body>
</html>
