---
id: contact
title: Kontakt
description: Falls Sie wünschen mich zu kontaktieren, bin ich über verschiedene Kanäle erreichbar.
tags: topnav
lang: de-DE
---
<!DOCTYPE html>
<html lang="{{ lang }}">
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <div class="background-filter">
                <p>
                    Falls Sie wünschen mich zu kontaktieren, bin ich über
                    folgende Kanäle erreichbar:
                </p>
                <ul>
                    <li class="contact-channel">
                        Für geschäftliche Anfragen:
                        <a
                            class="link"
                            href="https://www.linkedin.com/in/larsbodewig/"
                            rel="noreferrer external"
                            >LinkedIn/LarsBodewig</a
                        >
                    </li>
                    <li class="contact-channel">
                        Für technische Fragen:
                        <a
                            class="link"
                            href="https://github.com/LarsBodewig"
                            rel="noreferrer external"
                            >GitHub/LarsBodewig</a
                        >
                    </li>
                    <li class="contact-channel">
                        Für Sonstiges:
                        {% include 'email', email: 'Lars@Bodewig.dev' %}
                    </li>
                </ul>
            </div>
        </main>

        {% include 'footer' %}
    </body>
</html>
