---
id: contact
title: Kontakt
tags: topnav
lang: Deutsch
---
<!DOCTYPE html>
<html>
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <p>
                Falls Sie wünschen mich zu kontaktieren, bin ich über folgende
                Kanäle erreichbar:
            </p>
            <ul>
                <li class="contact-channel">
                    Für geschäftliche Anfragen:
                    <a
                        href="https://www.linkedin.com/in/larsbodewig/"
                        rel="noreferrer external"
                        >LinkedIn/LarsBodewig</a
                    >
                </li>
                <li class="contact-channel">
                    Für technische Fragen:
                    <a
                        href="https://github.com/LarsBodewig"
                        rel="noreferrer external"
                        >GitHub/LarsBodewig</a
                    >
                </li>
                <li class="contact-channel">
                    Für Sonstiges:
                    {% include 'email', email: 'Lars@Bodewig.dev' %}
                </li>
            </ul>
        </main>

        {% include 'footer' %}
    </body>
</html>
