---
title: Kontakt
tags: nav
---

<!DOCTYPE html>
<html>
    {% include 'head' %}

    <body>
        <header>
            <h1>{{ title }}</h1>
        </header>

        <main></main>

        {% include 'footer' %}
    </body>
</html>
