---
id: portfolio
title: Portfolio
description: Diese Seite enthält eine Auflistung nennenswerter Projekte an denen ich beruflich oder privat gearbeitet habe.
tags: topnav
lang: de-DE
---
<!doctype html>
<html lang="{{ lang }}">
    {% include 'head' %}

    <body>
        {% include 'header' %}

        <main>
            <div class="portfolio-desc">
                <p>
                    Diese Seite enthält eine Auflistung nennenswerter Projekte an denen ich beruflich oder privat
                    gearbeitet habe. Alle meine privaten Projekte sind öffentlich einsehbar auf
                    <a
                        class="link"
                        href="https://github.com/LarsBodewig"
                        rel="noreferrer external"
                        >Github</a
                    >.
                </p>
                <p>
                    Jedes Element enthält eine Auswahl relevanter Skills in Programmiersprachen, Frameworks und
                    Werkzeugen. Da Projekte in ihrer Komplexität variieren, Technologien sich gegenseitig bedingen und
                    Werkzeuge ausgetauscht werden können, ist diese Auswahl nicht abschließend vollständig. Jedoch
                    stellt sie einen Schwerpunkt der gewonnenen Erfahrung und des Wissens durch die Arbeit in dem
                    jeweiligen Projekt dar.
                </p>
            </div>
            <div class="portfolio-projects">
                {%- assign skills = 'Docker', 'Maven', 'Jenkins', 'Bashly', '*nix' -%}
                {%- include 'project',
                    name: 'Berufliches Projekt',
                    description: 'Pflege und Weiterentwicklung der Team-eigenen Entwicklungs- und Test-Umgebung.',
                    skills: skills
                -%}
                {%- assign skills = 'Java', 'JSF/JSP', 'Vue.js', 'SQL/Postgres', 'Hibernate/JPA', 'Maven', 'yarn', 'OpenAPI', 'Flyway', 'JBoss', '*nix' -%}
                {%- include 'project',
                    name: 'Berufliches Projekt',
                    description: '1,5+ Jahre Full-Stack-Development in einem öffentlichen Projekt des Bundes: Mitarbeit bei der Migration des Frontend-Frameworks im laufenden Betrieb und Wartung von Legacy-Code.',
                    skills: skills
                -%}
                {%- assign skills = 'Java', 'Maven', 'Gradle', 'JavaPoet' -%}
                {%- include 'project',
                    name: 'Mimic',
                    description: 'Java Annotation Processor, Maven Plugin und Gradle Plugin zur Generierung typsicherer Accessor-Methoden mittels Reflection.',
                    github: 'https://github.com/LarsBodewig/Mimic',
                    maven: 'https://central.sonatype.com/namespace/dev.bodewig.mimic',
                    skills: skills
                -%}
                {%- assign skills = 'Java', 'Hibernate/JPA', 'Maven', 'Flyway' -%}
                {%- include 'project',
                    name: 'Hibernate-Based-Migration',
                    description: 'Konzeptuelle Erweiterung von Flyway zur Durchführung komplexer Migrationen von persistierten Daten mit Hibernate.',
                    github: 'https://github.com/LarsBodewig/Hibernate-Based-Migration',
                    maven: 'https://central.sonatype.com/namespace/dev.bodewig.hibernate-based-migration',
                    skills: skills
                -%}
                {%- assign skills = 'Java', 'Spring Boot', 'Maven', 'OpenAPI', 'Tomcat', '*nix' -%}
                {%- include 'project',
                    name: 'Berufliches Projekt',
                    description: 'Design and Implementierung einer neuen Schnittstelle für ein Bestandsystem eines globalen Versicherungskonzern.',
                    skills: skills
                -%}
                {%- assign skills = 'Java', 'Maven' -%}
                {%- include 'project',
                    name: 'Sql-ResultSet-Interfaces',
                    description: 'Maven Dependency für spezialisierte Subsets des java.sql.ResultSet-Interface. Diese Dependency richtet sich hauptsächlich an Frameworks, die ihre APIs mit schlanken Interfaces einfacher gestalten wollen.',
                    github: 'https://github.com/LarsBodewig/Sql-ResultSet-Interfaces',
                    maven: 'https://central.sonatype.com/artifact/dev.bodewig.sql-resultset-interfaces/sql-resultset-interfaces',
                    skills: skills
                -%}
                {%-
                    assign skills = 'Java', 'TypeScript',
                    'JavaScript', 'SQL/Oracle', 'Redux', 'HTML',
                    'CSS', 'Maven', 'yarn', 'Flyway', 'NetWeaver'
                -%}
                {%- include 'project',
                    name: 'Berufliches Projekt',
                    description: '3 Jahre Full-Stack-Development an einer öffentlichen Internetseite der Landesregierung, inklusive Daten-Aggregation, -Transformation, -Visualisierung und einer umfassenden Suchfunktion.',
                    skills: skills
                -%}
                {%- assign skills = 'JavaScript', '11ty', 'HTML', 'CSS', 'npm', 'CI' -%}
                {%- include 'project',
                    name: 'Bodewig.dev',
                    subtitle: '(Ja, diese Webseite!)',
                    description: 'Eine mit 11ty generierte, statische, mehrsprachige Webseite, die liquid als Template-Sprache verwendet.',
                    github: 'https://github.com/LarsBodewig/Bodewig.dev',
                    skills: skills
                -%}
                {%- assign skills = 'Java', 'Maven' -%}
                {%- include 'project',
                    name: 'JPath-Filter',
                    description: 'Ein Java Servlet-Filter für JSON-Servlets um Teile der Daten mittels JsonPath abzufragen, dem Äquivalent zu XPath für XML.',
                    github: 'https://github.com/LarsBodewig/JPath-Filter',
                    skills: skills
                -%}
                {%- assign skills = 'TypeScript', 'HTML', 'CSS', 'npm' -%}
                {%- include 'project',
                    name: 'ShadowJs',
                    description: 'Proof of Concept zur Isolation von JavaScript-Bibliotheken, die den globalen Scope manipulieren, in einem separaten Window-Kontext äquivalent zu Shadow DOM.',
                    github: 'https://github.com/LarsBodewig/ShadowJs',
                    skills: skills
                -%}
                {%- assign skills = 'TypeScript', 'React', 'Redux', 'TSX', 'HTML', 'CSS', 'npm' -%}
                {%- include 'project',
                    name: 'Visual-killedbygoogle',
                    description: 'Visualisierung von Killed by Google, dem Google-Friedhof; einer open-source Sammlung aller nicht mehr verfügbaren Google Services, Produkte, Geräte und Apps.',
                    github: 'https://github.com/LarsBodewig/Visual-killedbygoogle',
                    skills: skills
                -%}
                {%- assign skills = 'Java', 'ANTLR' -%}
                {%- include 'project',
                    name: 'Bachelor-Arbeit über die Implementierung und Visualisierung von Wahrheitsbäumen',
                    description: 'Wahrheitsbäume sind eine Methode der Logik zum Lösen logischer Aussagen durch die Prüfung auf Widersprüche zwischen einzelnen Termen. Diese Anwendung interpretiert eine logische Aussage als Konsolen-Eingabe, bricht sie in einzelne Terme, erzeugt daraus einen Wahrheitsbaum und stellt diesen grafisch dar.',
                    github: 'https://github.com/LarsBodewig/HS-Bachelor',
                    skills: skills
                -%}
            </div>
        </main>

        {% include 'footer' %}
    </body>
</html>
